{% extends 'account_base.html' %}

{% block title %}Find Your ID{% endblock %}

{% block contents %}
<div class="row">
  <div class="col-md-6 bg-primary  text-center">
    <h3>
      <a href="{% url 'account:find_id' %}" class="text-light">아이디 찾기</a>
    </h3>
  </div>
  <div class="col-md-6 bg-light  text-center">
    <h3>
      <a href="{% url 'account:find_pw' %}" class="text-primary">비밀번호 찾기</a>
    </h3>
  </div>
</div>
<div class="container">
  <h3 class="mt-3 mb-3">아이디 찾기 페이지 입니다.</h3>
  <h4 class="mb-3">찾으실 아이디에 등록된 이메일을 입력해주세요.</h4>
  <form method="post">
    {% csrf_token %}
    <input class="form-control mb-3" type="email" name="find-email" placeholder="이메일을 입력해주세요." />
    <input class="btn btn-primary" type="submit" value="Find" />
  </form>
</div>
{% endblock %}