{% extends "cloud_base.html" %}

{% block stylesheet %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'cloud/main.css' %}" />
  <script src="{% static 'getCookies.js' %}"></script>
{% endblock %}

{% block contents %}
  <div class="container f-contents">
    <div class="f-header row mt-3 p-2">
      <div class="col-md-8">
        <h3>All</h3>
      </div>
      <div class="col-md-4 text-right">
        <button type="button" class="btn btn-primary" id="upload-btn" data-toggle="modal" data-target="#UploadModal">Upload</button>
      </div>
    </div>
    <div class="file-block mt-4">
      <div class="container file-contents">
        <div class="file-header">
          <h4>Share File</h4>
        </div>
        <div class="file-body">
          <table class="table">
            <thead>
              <tr class="table-primary text-light font-weight-bold">
                <td>File Name</td>
                <td>Path</td>
                <td>User(ID)</td>
                <td>Upload Date</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>File Name</td>
                <td>Path</td>
                <td>User(ID)</td>
                <td>Upload Date</td>
              </tr>
              <tr>
                <td>File Name</td>
                <td>Path</td>
                <td>User(ID)</td>
                <td>Upload Date</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="file-block mt-2 ">
      <div class="container file-contents">
        <div class="file-header">
          <h4>My File</h4>
        </div>
        <div class="file-body">
          <table class="table">
            <thead>
              <tr class="table-primary text-light font-weight-bold">
                <td>File Name</td>
                <td>Path</td>
                <td>User(ID)</td>
                <td>Upload Date</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>File Name</td>
                <td>Path</td>
                <td>User(ID)</td>
                <td>Upload Date</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% include 'include/FileUploadModal.html' %}
  <script>
    // document.getElementById('upload-btn').addEventListener('click', (e) => {
    //   const csrftoken = getCookie('csrftoken');

    //   console.log('fetch 실행 전');

    //   fetch("{{domain}}" + "upload",{
    //     method : "POST",
    //     headers : {
    //       'X-CSRFToken' : csrftoken,
    //     },
    //     body : JSON.stringify({"msg" : "hello world"}),
    //   }).then(response =>{
    //     console.log(response);
    //     return response.json();
    //   }).then(response => {
    //     console.log(response);
    //   });
    // });
  </script>
{% endblock %}